.game__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossBoard {
    width: 450px;
    height: 450px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.crossBoard__cell {
    flex: 1 0 30%;
    border-right: 1px solid;
    border-bottom: 1px solid;

    cursor: pointer;

    position: relative;
}

.crossBoard__cell:hover {
    background: rgba(209, 247, 250, 0.5);
}

.crossBoard__cell:nth-child(3n) {
    border-right: 0;
}

.crossBoard__cell:nth-last-child(-n+3) {
    border-bottom: 0;
}

.crossBoard__el {
    position: absolute;

    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.x {
    stroke: black;
}

.x-line1 {
    stroke-dasharray: 9;

    will-change: stroke-dashoffset;

    animation: x-animation .3s linear 0s 1 normal forwards;
}

.x-line2 {
    stroke-dasharray: 9;

    will-change: stroke-dashoffset;

    animation: x-animation .3s linear .3s 1 normal forwards;
}

.o {
    stroke: red;
    fill: none;
}

.o-line {
    stroke-dasharray: 26;

    will-change: stroke-dashoffset;

    animation: o-animation .6s linear 0s 1 normal forwards;
}

@keyframes x-animation {
    0%, 10% {
        stroke-dashoffset: 9;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes o-animation {
    0% {
        stroke-dashoffset: 26;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.confirm[hidden] {
    display: none;
}

.confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;

    padding: 24px 0;

    background: rgba(0, 0, 0, .5);

    z-index: 10;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm__board {
    max-width: 60%;
    min-width: 30%;

    padding: 24px;

    background: #fff;

    box-sizing: border-box;
    border-radius: 24px;
}

.confirm__text {
    text-align: center;
    font-size: 1.5rem;
}

.confirm__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.confirm__action {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 24px;
}

.confirm__action + .confirm__action {
    margin-left: 24px;
}

.users {
    list-style: none;
    margin: 0 0 0 48px;
    padding: 0;
}

.user + .user {
    margin-top: 24px;
}

.user--active .user__name {
    font-weight: bold;
}
